.my-alert {
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #eeeeee;
    border-radius: 10px;
    
    p {
        margin-bottom: 0
    }
}

.my-alert-yellow {
    @extend .my-alert;
    background-color: #ffe591;
}

